li{
    list-style: none;
    transition: 0.3s ease;
}
.top{
    justify-content: center;
    background: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav{
    display: flex;
    justify-content: center;
    position: relative;
    top: 7px;
    font-size: 25px;
    font-weight: 600;
    transition: 0.02s ease;
}
.navLi:hover{
    border-bottom: 3px solid black;
    transform: scale(1.1);
}
.call{
    transition: 0.3s ease;
}
.call:hover{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 30px;
}
.callImg{
    width: 40px;
    height: 40px;
    transition: 0.3s ease;
}
.callImg:hover{
    filter:invert();
}
.body{
    background-color: #f5f5f5;
}
.left{
    transform: rotate(-90deg);
    transform-origin: left;
    position: relative;
    top: 550px;
    right: 300px;
    font-size: 25px;
}
.lineImg{
    width: 450px;
}
.mukilan{
    position: absolute;
    z-index: 2;
    height: 1000px;
    top: 50px;
    right: 40px;
    filter: grayscale(100%);
}
.name{
    font-size: 250px;
}
.nameSub{
    font-size: 20px;
}
.middle1{
    position: absolute;
    top: 200px;
    left: 250px;
}
.logo{
    position: absolute;
    left: 20px;
}
.mukilan2{
    border-radius: 20px;
}
.mukilanWithBg{
    height: 300px;
    border-radius: 100%;
    border: 5px solid black;
    position: relative;
    left: 50px;
    filter: brightness(35%);
}
.projectsCon {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20rem;
    padding: 20px;
    position: relative;
    top: 300px;
}
.about{
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
}
.card{
    width: 300px;
    padding: 20px;
}
.me{
    width: 500px;
}
.project {
    min-width: 600px;
    height: 70b0px;
    background: white;
    border-radius: 20px;
    scroll-snap-align: center;
    flex-shrink: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.projectImg{
    height: 500px;
    width: 900px;
    border-radius: 20px;
}