form{
    margin-left: 120px;
    background-color: #e5e5e5;
    border-radius: 20px;
    color: #354f52;
    padding: 20px;
}
button{
    background-color: #354f52;
    color: #e5e5e5;
}
.finalData{
    background-color: #cce3de;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px;
}
.cal{
    display: flex;
    justify-content: center;
}